.wrapper
  %aside.main-sidebar.sidebar-dark-primary.elevation-4
  .content-wrapper
    / Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            %h1.m-0.text-dark シェアルーム
            %button.btn.btn-default.m-1=link_to '新しい部屋を作る', new_room_path
      .content
        .row
          - @rooms.each do |room|
            .col-lg-6.d-flex
              .card.card-primary.card-outline
                .card-body
                  %h1.card-title #{room.room_name}
                  %p.card-text
                    ココに入る内容は部屋を作成する際の情報を記載するところです。
                    この部屋を何用にするか考えてみましょう。
                  %button.btn.btn-default= link_to '部屋に入る', room_path(room.id)
                  %button.btn.btn-outline-warning= link_to '部屋を削除する', room_path(room), method: :delete, data: { confirm: '削除しますか？' }

        /%span 部屋ID:
        /= room.id
        /%span 部屋名:
        /= link_to room.room_name, room_path(room.id)
        /%span email:
        /= link_to room.user.email, user_path(room.user.id)
        /%td
        /   link_to '編=集', edit_room_path(room)
        /  = link_to '削除', room_path(room), method: :delete, data: { confirm: '削除しますか？' }