.wrapper
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h5
          %span 動画名 :
          = video.video_name
          %button.btn-sm.btn-outline-warning= link_to '削除', room_video_path(video), method: :delete, data: { confirm: '削除しますか？' }
          %iframe{ allow: 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
            allowfullscreen: '',
            frameborder: '0',
            height: '315',
            src: "https://www.youtube.com/embed/#{ video.youtube_url }",
            width: '560' }
      /= link_to '編集', edit_room_video_path(video)