.wrapper
  %aside.main-sidebar.sidebar-dark-primary.elevation-4
  .content-wrapper
    / Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
        %h1.m-0.text-dark #{@room.room_name}
        = render partial: 'shared/form_video'
        = render partial: 'shared/video_all', collection: @room.videos, as: 'video'